body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d7e0;
}

.header {
    height: 60px;
    background-color: #c2c2d2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
.main-content {
     flex-grow: 1;
    padding: 20px;
    overflow-x: auto;
}
.user-icon i {
    font-size: 30px;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.personas-card {
    background-color: #f2eaea;
    border-radius: 10px;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    padding-right: 20px;
}

.personas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9babb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-title i {
    font-size: 30px;
}

.search-add {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #c9bbbb;
    padding: 10px;
    border-radius: 8px;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-add input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-add button {
    background-color: #005eff;
    border: none;
    padding: 6px 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.search-add .add-btn {
    background-color: #1d83f2;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: #d9d9d9;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.edit-icon {
    color: #007bff;
    cursor: pointer;
}
.estado-activo {
    color: green;
    font-weight: bold;
}
.estado-inactivo {
    color: red;
    font-weight: bold;
}

