<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Opciones administrador</title>
</head>

<body>
    <div th:fragment="amdOptions">
        <link rel="stylesheet" th:href="@{/css/StylesAdmOptions.css}">
        <div class="sidebar">
            <div class="logo">
                <img th:src="@{/images/logo-tertulia.png}" alt="Logo La Tertulia" width="80" height="80">
                <h2>LA TERTULIA LICORERA</h2>
            </div>
            <nav class="menu">
                <a th:href="@{/managePerson}">
                    <button class="menu-item">Gestionar Persona</button>
                </a>
                <a th:href="@{/manageProduct}">
                    <button class="menu-item">Gestionar Producto</button>
                </a>
                <a th:href="@{/manageBuy}">
                    <button class="menu-item">Registrar compra</button>
                </a>
                <a th:href="@{/manageSales}">
                <button class="menu-item">Gestionar venta</button>
                </a>
                <a th:href="@{/logout}">
                    <button class="menu-item">Cerrar sesion</button>
                </a>
            </nav>
        </div>
    </div>
    <div class="main-content">
        <section class="welcome-section">
            <h1>Bienvenido, <span th:text="${usuarioDTO != null} ? ${usuarioDTO.userName} : 'Usuario'">Usuario</span>!
            </h1>
            <p>Selecciona el modulo a gestionar.</p>
        </section>
    </div>

</body>

</html>