<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/PeopleManagement.css}">
</head>

<body>
    <div th:replace="ToastContainer :: toastContainer"></div>
    <div class="container">
        <div th:replace="AdministratorOptions :: amdOptions"></div>
        <section class="personas-card">
            <header class="header">
            </header>
            <div class="personas-header">
                <div class="icon-title">
                    <i class="fas fa-shopping-bag"></i>
                    <h2>Compras</h2>
                </div>
                <div class="search-add">
                    <form th:action="@{/searchBuy}" method="post">
                        <input type="date" name="fechaInicial" required title="Seleccione la fecha inicial">
                        <input type="date" name="fechaFinal" required title="Seleccione la final">
                        <button type="submit" class="search-button" title="Buscar">🔍</button>
                    </form>
                    <form th:action="@{/manageBuy}" method="get">
                        <button type="submit" class="search-button" title="Refrescar">🔄</button>
                    </form>
                    <form th:action="@{/addDetailBuy}" method="get" style="display: inline;">
                        <button type="submit" class="search-button" title="Agregar">
                            <span class="plus-icon">+</span>
                        </button>
                    </form>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Id compra</th>
                        <th>Nombre comprador</th>
                        <th>Nombre proveedor</th>
                        <th>Fecha compra</th>
                        <th>Valor total</th>
                        <th>Visualizar compra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="compra : ${compras}">
                        <td th:text="${compra.id}"></td>
                        <td
                            th:text="${compra.vendedor != null and compra.vendedor.persona != null and compra.vendedor.persona.nombre != null and compra.vendedor.persona.apellido != null ? compra.vendedor.persona.nombre + ' ' + compra.vendedor.persona.apellido : 'No identificado'}">
                        </td>
                        <td th:text="${compra.nombreProveedor}"></td>
                        <td th:text="${compra.fechaCompra}"></td>
                        <td th:text="${#numbers.formatDecimal({compra.totalVenta}, 1, 'COMMA', 2, 'POINT')}"></td>
                        <td>
                            <button class="delete-btn" th:attr="data-id=${compra.id}" onclick="viewBill(this)"
                                title="Ver factura">
                                <i class="fas fa-eye" style="color: #007bff;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    </div>
    <script>
        function viewBill(button) {
            const id = button.getAttribute("data-id");
            window.location.href = `/showBillOfBuy?idCompra=${id}`;
        }
    </script>
</body>

</html>