<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="aguardienteFields">
        <label>Grado alcohólico (%):</label>
        <input type="number" step="0.1" th:field="*{graduacionAlcoholica}" required/>
        <label>Tipo de aguardiente:</label>
        <input type="text" th:field="*{tipo}" required minlength="2" maxlength="30" />
    </div>

    <div th:fragment="cervezaFields">
        <label>Grado alcohólico (%):</label>
        <input type="number" step="0.1" th:field="*{graduacionAlcoholica}" required/>
    </div>

    <div th:fragment="vinoFields">
        <label>Grado alcohólico (%):</label>
        <input type="number" step="0.1" th:field="*{graduacionAlcoholica}" required/>
        <label>Región de origen:</label>
        <input type="text" th:field="*{regionOrigen}" required minlength="3" maxlength="50" />
        <label>Años de añejamiento:</label>
        <input type="number" th:field="*{anejamiento}" required/>
    </div>

    <div th:fragment="vodkaFields">
        <label>Grado alcohólico (%):</label>
        <input type="number" step="0.1" th:field="*{graduacionAlcoholica}" required/>
    </div>
</body>
</html>
