<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Tertulia - Login</title>
    <link rel="stylesheet" th:href="@{/css/StylesLogin.css}" />
</head>
<body>
    <div th:replace="ToastContainer :: toastContainer"></div>
    <div class="container">
        <div class="logo-container">
            <div class="logo">
                <img th:src="@{/images/logo-tertulia.png}" alt="Logo La Tertulia" width="180" height="180">
            </div>
        </div>
        <div class="login-form">
            <h2 th:text="'Bienvenido a la Tertulia.'">Bienvenido a la Tertulia.</h2>
            <p th:text="'Por favor inicia sesión para continuar.'">Por favor inicia sesión para continuar.</p>
            
            <form th:action="@{/loggeo}" th:object="${usuarioDTO}" method="post">
                <div class="form-group">
                    <input type="text" id="username" name="username"
                           th:placeholder="'Nombre de usuario'" placeholder="Nombre de usuario" th:field="*{userName}" required>
                </div>
                
                <div class="form-group">
                    <input type="password" id="password" name="password"
                           th:placeholder="'Contraseña'" placeholder="Contraseña" th:field="*{userPassword}" required>
                </div>
                
                <div class="form-group">
                    <button type="submit" th:text="'Iniciar sesión'">Iniciar sesión</button>
                    <a th:href="@{/}" class="btn btn-secondary" style="text-decoration: none; text-align: center;">Registrarse</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>