<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="modalEditProduct">
        <link rel="stylesheet" th:href="@{/css/ModalModifyPerson.css}">
        <div id="editModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3>Editar Producto</h3>
                <form th:action="@{/updateProduct}" method="post">
                    <div>
                        <label for="edit-code">Código:</label>
                        <input type="number" name="id" id="edit-code" readonly>
                    </div>
                    <div>
                        <label for="edit-name">Nombre producto:</label>
                        <input type="text" name="name" id="edit-name" required>
                    </div>
                    <div>
                        <label for="edit-description">Descripción producto:</label>
                        <input type="text" name="description" id="edit-description" readonly 
                        title="Añade una descripción del producto">
                    </div>
                    <div>
                        <label for="edit-presentation">Presentación:</label>
                        <input type="text" name="presentation" id="edit-presentation" readonly 
                        title="Presentación del producto (Botella de vidrio)">
                    </div>
                    <div>
                        <label for="edit-quantity">Cantidad:</label>
                        <input type="number" name="stock" id="edit-quantity" required>
                    </div>
                    <div>
                        <label for="edit-price">Precio:</label>
                        <input type="number" name="price" id="edit-price" required>
                    </div>
                    <div style="margin-top: 15px;">
                        <button type="submit">Guardar</button>
                        <button type="button" onclick="closeModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <script th:src="@{/js/ModalModifyProduct.js}"></script>
    </div>
</body>

</html>