<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos</title>
    <link rel="stylesheet" th:href="@{/css/StylesRegistration.css}" />
</head>
<body>
    <div th:replace="ToastContainer :: toastContainer"></div>
    <div class="container">
        <div class="header">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
            </svg>
            <h1>Registro producto</h1>
        </div>
        
        <div class="form-container">
            <form th:action="@{/productRegistration}" th:object="${productDTO}" method="POST">
                <div class="form-group">
                    <label for="codigo">Código:</label>
                    <input type="number" class="form-control" th:field="*{id}" required>
                </div>
                <div class="form-group">
                    <label for="tipo-producto">Tipo de producto:</label>
                    <input type="text" class="form-control" th:field="*{type}" required>
                </div>
                <div class="form-group">
                    <label for="nombre-producto">Nombre producto:</label>
                     <input type="text" class="form-control" th:field="*{name}" required>
                </div> 
               <div class="form-group">
                    <label for="descripción-producto">Descripción producto:</label>
                     <input type="text" class="form-control" th:field="*{descripcion_producto}" required>
                </div> 
                <div class="form-group">
                    <label for="presentacion">Presentación:</label>
                     <input type="text" class="form-control" th:field="*{presentation}" required>
                </div> 
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                     <input type="number" class="form-control" th:field="*{stock}" required>
                </div> 
                <div class="form-group">
                    <label for="cantidad">Precio:</label>
                     <input type="number" class="form-control" th:field="*{price}" required>
                </div> 
                <div class="buttons">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a th:href="@{/manageProduct}" class="btn btn-secondary" style="text-decoration: none; text-align: center;">Salir</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>