<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/PeopleManagement.css}">
</head>

<body>
    <div th:replace="ToastContainer :: toastContainer"></div>
    <div class="container">
        <div th:replace="AdministratorOptions :: amdOptions"></div>
        <section class="personas-card">
            <header class="header">
            </header>
            <div class="personas-header">
                <div class="icon-title">
                    <i class="fas fa-wine-bottle"></i>
                    <h2>Productos</h2>
                </div>
                <div class="search-add">
                    <form th:action="@{/searchProduct}" method="post">
                        <input type="text" name="codigoProducto" placeholder="Código Producto" required
                            title="Ingrese el nombre o código del producto a buscar">
                        <button type="submit" class="search-button" title="Buscar">🔍</button>
                    </form>
                    <form th:action="@{/manageProduct}" method="get">
                        <button type="submit" class="search-button" title="Refrescar">🔄</button>
                    </form>
                    <form th:action="@{/addProduct}" method="get" style="display: inline;">
                        <button type="submit" class="search-button" title="Añadir">
                            <span class="plus-icon">+</span>
                        </button>
                    </form>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Código producto</th>
                        <th>Tipo producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Presentación</th>
                        <th>Valor unitario</th>
                        <th>Editar producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${Productos}">
                        <td th:text="${producto.id}"></td>
                        <td th:text="${producto.type}"></td>
                        <td th:text="${producto.name}"></td>
                        <td th:text="${producto.stock}"></td>
                        <td th:text="${producto.description}"></td>
                        <td th:text="${producto.presentation}"></td>
                        <td th:text="${#numbers.formatDecimal(producto.price, 1, 'COMMA', 2, 'POINT')}"></td>
                        <td>
                             <button class="edit-btn" th:attr="data-code=${producto.id},
                                    data-name=${producto.name},
                                    data-description=${producto.description},
                                    data-presentation=${producto.presentation},
                                    data-quantity=${producto.stock},
                                    data-price=${producto.price}" onclick="openModal(this)" title="Modificar">
                                <i class="fas fa-pen edit-icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div th:replace="ModalModifyProduct :: modalEditProduct"></div>
</body>

</html>